/* Playfair Display Variable Font - normal */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

/* Playfair Display Variable Font - italic */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}