@use "fonts";

body {
  font-family: var(--font-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem
}

$brand: #cd1713;

body {
  background-color: #f9fafb;
}

.btn {
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: $brand;
  color: white;
}
