/* Playfair Display Variable Font - normal */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}
/* Playfair Display Variable Font - italic */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: var(--font-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
}

body {
  background-color: #f9fafb;
}

.btn {
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: #cd1713;
  color: white;
}
